MONGO_URI=mongodb://delluser:<password?@ac-a84xiz0-shard-00-00.hh7ijb9.mongodb.net:27017,ac-a84xiz0-shard-00-01.hh7ijb9.mongodb.net:27017,ac-a84xiz0-shard-00-02.hh7ijb9.mongodb.net:27017/?ssl=true&replicaSet=atlas-8w6d8f-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=mySuperSecureKey123!@#
PORT=5000
